body {
  background-color: #9eb5e2;
}

.main-container{
  display: flex;
  flex-direction: column;
}
.board{
  display: flex;
}
.left-canvas{
  background-color: aquamarine;
}
.right-canvas{
  background-color: rgb(201, 253, 81);
}
.score-canvas {
  background-color: #282c34;
}