body {
  background-color:rgb(5,6,11);
}

.main-container{
  display: flex;
  flex-direction: column;
  border:rgb(253, 248, 248) solid 10px;
  border-style: outset;
}
.board{
  display: flex;
}
.left-canvas{
  /* background-color: aquamarine; */
  background-image: url(../gameBackground.jpg);
  background-size: cover;
}

.right-canvas{
  /* background-color: rgb(201, 253, 81); */
  background-image: url(../gameBackground.jpg);
  background-size: cover;
}
.score-canvas {
  background-color: rgba(255, 255, 255, 0.966);
}
.main-container {
  box-shadow: rgb(36, 39, 49) 0 0 10px 5px;
}
.n-or-h{
  display: flex;
  background-color: rgba(255, 255, 255, 0.966);
  /* justify-content: space-around; */
}
.restart-btn {
  font-size: larger;
  width: 175px;
  color:brown;
  font-family: "Press Start 2p";
  align-self: center;
  background-color: chartreuse;
}
.home-btn {
  font-size: larger;
  background-color: chartreuse;
  width: 150px;
  color:brown;
  font-family: "Press Start 2p";
  align-self: center;
  
}
.home-link{
  text-decoration: none;
  color:brown;
}
.lc{
  border-right: white 2px solid;
}