@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  /* margin-top: px; */
  background-image: url(../gameBackground.jpg);
  /* background-color: #d86f4b; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'press start 2p', cursive;
  color: #dfdf97;
  text-shadow: rgb(200, 26, 26)  1px 1px;
  /* position: relative; */
}
div.start-page{
  /* border: 1px solid white; */
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-size: 15px;
}
.name-form {
  /* border: 1px solid white; */
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
input {
  width: 70%;
  height: 15%;
  background-color: #cabcae;
  border-radius: 20px;
  border: none;
  font-family: inherit;
  text-align: center;
}
.game-img{
  position: absolute;
  top: 0;
  left: 370px;
  z-index: -100;
  /* opacity: 80%; */
  /* margin-left: 400px; */
  width: auto;
  height: 100%;
}

.title {
  /* margin-top: 80px; */
  font-size: 60px;
  position: relative;
  top: 220px;
  background: linear-gradient(to right, #ee0909, #14bd2b, #ebeb95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow: none;
}

.labelin {
  display: block;
}
button {
  /* margin-top: 10px; */
  /* margin-left: 650px; */
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  text-shadow: red  2px 2px;
}

a:hover, button:hover {
  color: red;
}

.cNj {
  position: relative;
  top: 250px;
  text-align: center;
}

.create-code {
  position: relative;
  top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.waiting {
  margin-top: 20px;
}

.join-form {
  /* border: 1px solid white; */
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
  position: relative;
  top: 250px;
}

.play {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 20px solid black;
  height: 0px;
}

.gotname {
  margin-left: 250px;
  font-size: 20px;
}

.lol {
  font-size: 30px;
  color: red;
}

.controls {
  margin-top: -80px;
  margin-left: 1200px;
  font-size: 40px;
  text-decoration: none;
  background: linear-gradient(to right, #ee0979, #d7e38a, #0c0a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leaders-link:hover{
  text-shadow: 2px 0px;
}
.controls:hover {
  text-shadow: 2px 0px;
}
.contols-link{
  text-decoration: none;
}
.control-back {
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
}
.control-back:hover {
  color: red;
}
.control-h1 {
  font-size: 40px;
  margin-top: 80px;
  text-align: center;
  background: linear-gradient(to right, #ee0979, #d7e38a, #0c0a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.control-p {
  color: 
  #ffa500;
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  padding: 20px;
  margin: 20px 10px;
}
.incorrect {
  position: relative;
  top: 250px;
  text-align: center; 
}
.back{
  font-size: 30px;

}
