body {
  /* margin-top: px; */
  background-image: url(../background.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Bungee", cursive;
  color: aliceblue;
}

.header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.image {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}
.title {
  margin-top: 80px;
  font-size: 60px;
  background: linear-gradient(to right, #ee0909, #1c14bd, #ebeb95);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.labelin {
  margin-left: 330px;
  font-size: 50px;
}
.label-input {
  margin-top: 30px;
  margin-left: 400px;
  font-size: 60px;
}
.label-join {
  font-size: 50px;
  margin-left: 480px;
}
.button {
  margin-top: 10px;
  margin-left: 650px;
  font-size: 120px;
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-family: "Bungee", cursive;
}

.play {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-left: 20px solid black;
  height: 0px;
}

.gotname {
  margin-left: 250px;
  font-size: 20px;
}

.button-create {
  font-size: 50px;
  margin-left: 550px;
  font-family: "Bungee", cursive;
  background-color: transparent;
  border: none;
  color: aliceblue;
}

.button-join {
  font-size: 50px;
  margin-left: 570px;
  font-family: "Bungee", cursive;
  background-color: transparent;
  border: none;
  color: aliceblue;
}

.or {
  font-size: 50px;
  margin-left: 700px;
}
.controls {
  margin-top: -80px;
  margin-left: 1200px;
  font-size: 40px;
  text-decoration: none;
  background: linear-gradient(to right, #ee0979, #d7e38a, #0c0a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leaders {
  margin-top: -80px;
  margin-left: 550px;
  font-size: 40px;
  text-decoration: none;
  background: linear-gradient(to right, #ee0979, #d7e38a, #0c0a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.leaders-link{
  text-decoration: none;
}
.leaders-link:hover{
  text-shadow: 2px 0px;
}
.controls:hover {
  text-shadow: 2px 0px;
}
.contols-link{
  text-decoration: none;
}
.control-back {
  font-size: 120px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
}
.control-h1 {
  font-size: 50px;
  margin-top: 80px;
  text-align: center;
  background: linear-gradient(to right, #ee0979, #d7e38a, #0c0a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.control-p {
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  margin: 10px 5px;
}
.create-code {
  font-size: 30px;
  margin-left: 440px;
}

.control-back {
  height: 10px;
  margin-right: 500px;
}
